

.leaderBoardEntry{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 24px;
    border: 3px solid var(--snd-color);
}

.leaderBoardImage{
    width: 100px;
    height: 100px;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}

.leaderBoardEntryElement{
    text-align: center;
    margin: auto; /* Important */
}

.currentUser{
color: var(--snd-color) !important;
}

.leaderBoardContainer{
    width: 700px;
    font-family: var(--font-family);
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

.leaderboardHead{
    background-color: var(--snd-bg-color);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.leaderBoardTitle{
    text-align: center;
    flex-grow: 4;
    margin: auto;
    font-size: 18px;
    font-weight: bold;


}
.leaderBoardArrowImg{
    width: 30px;
    margin: auto;
}


